@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net
@inject SignOutSessionStateManager SignOutManager
@inject Api Api


@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        <span class="mr-5">Welcome <b>@context.User.Identity?.Name</b></span>
        <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="DoLogin" href="@Api.BasePath/login" >Login</button>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void DoLogin()
    {
        Navigation.NavigateTo($"{Api.BasePath}/login?returnUrl={WebUtility.UrlEncode(Navigation.BaseUri)}", true);
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo($"{Api.BasePath}/logout?returnUrl={WebUtility.UrlEncode(Navigation.BaseUri)}", true);
    }

}